.flex {
	display: flex;
	flex-direction: row;
}

.align-item-center {
	align-items: center;
}

.align-item-flex-start {
	align-items: flex-start;
}

.align-item-end{
  align-items: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-around {
	justify-content: around;
}
